Name: Shahnwaz Khan
Roll: AC-1272
Program: Multiple Linear Regression

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
df=pd.read_csv('C:/Users/91914/OneDrive/Documents/6th_Semester/ML/Mall_Customers.csv')
display(df.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
# get the dummies and store it in a variable
dummies = pd.get_dummies(df.Genre)
 
# Concatenate the dummies to original dataframe
df= pd.concat([df, dummies], axis='columns')
df.drop(columns=['Genre','CustomerID'],inplace=True)
df.head()

   Age  Annual Income (k$)  Spending Score (1-100)  Female  Male
0   19                  15                      39       0     1
1   21                  15                      81       0     1
2   20                  16                       6       1     0
3   23                  16                      77       1     0
4   31                  17                      40       1     0

In [8]:
# check for missing values
df.isna().sum()

Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
Female                    0
Male                      0
dtype: int64

In [9]:
# split the data into train and test data
x=np.array(df['Annual Income (k$)']).reshape(-1,1)
y=df.drop(columns='Annual Income (k$)')
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
# create instance of LinearRegrssion model
Reg=LinearRegression()

In [11]:
# Fit the model with the training data
Reg.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pred=Reg.predict(x_test)

In [13]:
MSE=mean_squared_error(y_test,y_pred)
print("Mean Squared Error :",MSE)
print("SSE :",MSE*len(y_pred))

Mean Squared Error : 240.19583638906164
SSE : 9607.833455562466